Create ErrorDocument

ErrorDocument を Apache 標準のものから置き換える。

## 作成する
- [x] 400 Bad Request : Request がおかしいとき
- [x] 403 Forbidden : アクセス権限がないとき / index.html が直下にないとき
- [x] 404 Not Found : ファイルが存在しない
- [x] 500 Internal Server Error : サーバー上のエラー（.htaccess, CGI, etc...）
- [x] 503 Service Unavailable : 過負荷 or 処理不能

## 作成しない
| HTTP Status Code | Why | Reason |
|---|---|---|
| **401 Unauthorized** | Basic/Digest 認証のとき | 認証を使わない |
| 402 Payment Required | Reserved (not implement) | - |
| **405 Method Not Allowed** | 指定 Method は禁止 | Method を制限しない |
| **406 Not Acceptable** | Accept\* の条件を満たせない | html/css/js のみ公開 / Multiviews も使わない |
| 407 Proxy Authentication Required | Proxy | Webサーバーは無関係 |
| **408 Request Timeout** | Client 側の時間切れ | [POST/PUT] |
| 409 Conflict | Resource の競合 | [PUT] |
| 410 Gone | コンテンツの消滅 | 利用しない |
| 411 Length Required | Content-Length が必要 | [POST/PUT] |
| 412 Precondition Failed | 前提条件が不正 | [Client Bug] |
| 413 Payload Too Large | Payload を越える Request | [POST/PUT] |
| 414 URI Too Long | URI が長すぎる | [Client Bug?] |
| 415 Unsupported Media Type | - | 公開ファイルは限定されている |
| 416 Range Not Satisfiable | 範囲外 | [Client Bug] |
| 417 Expectation Failed | 拡張失敗 | [WebSocket?] |
| 421 Misdirected Request | 誤った Request | [HTTP/2] |
| 422 Unprocessable Entity | WebDAV | - |
| 423 Locked | WebDAV | - |
| 424 Failed Dependency | WebDAV | - |
| 426 Upgrade Required | アップグレード要求 | - |
| 451 Unavailable For Legal Reasons | 法的理由による利用不可 | - |
| 501 Not Implemented | 未実装 | GET のみ利用 |
| 502 Bad Gateway | Proxy | - |
| 504 Gateway Timeout | Proxy | - |
| 505 HTTP Version Not Supported | 非サポートバージョン | - |
| 506 Variant Also Negotiates | Extended | - |
| 507 Insufficient Storage | WebDAV | - |
| 508 Loop Detected | WebDAV | - |
| 510 Not Extended | Extended | - |

### 選定基準

静的なファイルのみを置くため、シンプルな GET Request で発生しそうにないページは作成しない。

当該サーバーで動作しないため、以下に関連するものは除外できる。

* POST/PUT/DELETE Method
* Proxy (or Gateway)
* WebDAV
* HTTP/2 (421 Misdirected Request)
* WebSocket (417 Expectation Failed)

また、利用しない機能や発生条件が限定されるものも除外した。

### See also:
- [RFC7231 - HTTP/1.1: Semantics and Content (400, 402-406, 408-411, 413-415, 417, 426, 500-505)](https://tools.ietf.org/html/rfc7231)
- [RFC7232 - HTTP/1.1: Conditional Requests (412)](https://tools.ietf.org/html/rfc7232)
- [RFC7233 - HTTP/1.1: Range Requests (416)](https://tools.ietf.org/html/rfc7233)
- [RFC7235 - HTTP/1.1: Authentication (401, 407)](https://tools.ietf.org/html/rfc7235)
- [RFC7540 - HTTP/2 (421)](https://tools.ietf.org/html/rfc7540)
- [RFC6585 - Additional HTTP Status Codes (428, 429, 431, 511)](https://tools.ietf.org/html/rfc6585)
- [RFC4918 -  WebDAV (422-424, 507)](https://tools.ietf.org/html/rfc4918)
- [RFC7725 - An HTTP Status Code to Report Legal Obstacles (451)](https://tools.ietf.org/html/rfc7725)
- [RFC2295 - Transparent Content Negotiation in HTTP (506)](https://tools.ietf.org/html/rfc2295)
- [RFC2774 - An HTTP Extension Framework (510)](https://tools.ietf.org/html/rfc2774)